Intro_setup/HelloWorld/.vs/
Intro_setup/HelloWorld/Library/
Intro_setup/HelloWorld/Logs/
Intro_setup/HelloWorld/obj/
Intro_setup/HelloWorld/Temp/
Section2/NumberWizardConsole/.vs/
Section2/NumberWizardConsole/Library/AnnotationManager
Section2/NumberWizardConsole/Library/
Section2/NumberWizardConsole/Logs/Packages-Update.log
Section2/NumberWizardConsole/obj/
Section3/PlayingWithSprites/Library/
Section3/PlayingWithSprites/Logs/
